<p>Map to START</p>
<div id="map">Boo</div>
<script>
  $(window).ready(function(){
    <% @points.each do |point| %>
      L.marker([<%= point.lat %>, <%= point.lng %>])
      .addTo(window.map)
      .bindPopup("<b><%= point.name %></b>");
    <% end %>
  });
</script>
